# JuliaR

### On DataFrames and R (dplyr)-like functionality in Julia

https://github.com/angus-lewis/JuliaR

run the code from `getPackages.jl` before starting

---

---

---

---

---

## Package management 

### To download

```Pkg.add``` $\equiv$ ```install.packages```

In [1]:
#import Pkg # load Pkg package into namespace
#Pkg.add("DataFrames") # download package from github

---

### To load

Either

In [2]:
import DataFrames

Adds functions/variables/structs from ```DataFrames``` to namesapces with ```DataFrames.``` prefix.

i.e.

In [3]:
DataFrames.nrow

nrow (generic function with 2 methods)

calls the ```nrow``` function from ```DataFrames```;

sans prefix, ```nrow``` throws an error.

In [4]:
nrow

LoadError: UndefVarError: nrow not defined

or

In [5]:
using DataFrames

Adds exported functions/variables/structs from ```DataFrames``` to namespace.

i.e. ```nrow()``` calls the ```nrow()``` function from ```DataFrames```.

In [6]:
nrow

nrow (generic function with 2 methods)

reminds me of the `attatch()` function in `R`

#### TASK: load the `DataFrames` package

---

---

---

---

---

## Getting help

1) type ```?``` then the thing you want help with in the REPL

In [7]:
? +

search: +

  +(x, y...)

  Addition operator. x+y+z+... calls this function with all arguments, i.e.
  +(x, y, z, ...).

  Examples
  ≡≡≡≡≡≡≡≡≡≡

  julia> 1 + 20 + 4
  25

  julia> +(1, 20, 4)
  25

  ────────────────────────────────────────────────────────────────────────────

  dt::Date + t::Time -> DateTime

  The addition of a Date with a Time produces a DateTime. The hour, minute,
  second, and millisecond parts of the Time are used along with the year,
  month, and day of the Date to create the new DateTime. Non-zero microseconds
  or nanoseconds in the Time type will result in an InexactError being thrown.

2) Google it.

3) Post in the slack

---

---

---

---

---

## Functions (very quickly)

Most similar to `R` is

In [8]:
# I'll use this later 
head = function(df)
    return first(df,4) # first is a function from DataFrames
end

#1 (generic function with 1 method)

most similar to MATLAB

In [9]:
f1 = function(x,y) 
    x*y
end

#3 (generic function with 1 method)

For piping, anonymous functions are neat

In [10]:
f2 = x -> x^2

#5 (generic function with 1 method)

In [11]:
f2(4)

16

see also
 - broadcasting with `.` syntax (maybe the best feature there is! IMO) 
 - methods and mutliple dispatch and types

#### TASK: write a function to convert MPG to L/100km 

$ L/100km = 235.215/MPG $

---

---

---

---

---

## Piping (function compositon)

Pass the object on the left to the function of the right. 

i.e. In R we use the `%>%` infix operator 
```
> aFun <- function(x) x^2
> b <- 2 
> b %>% aFun
[1] 4
```

In julia its `|>`

In [12]:
fun(x) = x^2
b = 2 
b |> fun |> fun

16

with anonymous functions

In [13]:
b |> 
    x -> x^2 |> 
    x -> 2*x

8

There are some other really cool function composition and piping stuff out there too
 - $f\circ g$ notation type `?\circ\tab` into the REPL
 - or see the `Piping` package

---

---

---

---

---

## Loading data

In [14]:
import CSV

Either 

```cars = CSV.read("cars.csv", DataFrame)```

or

which is equivalent to

In [15]:
cars = CSV.File("cars.csv") |> DataFrame 
cars |> head

4×27 DataFrame
 Row │ Manufacturer  Model    Type     MinPrice  Price    MaxPrice  MPGCity  M ⋯
     │ String        String   String   Float64   Float64  Float64   Int64    I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Acura         Integra  Small        12.9     15.9      18.8       25    ⋯
   2 │ Acura         Legend   Midsize      29.2     33.9      38.7       18
   3 │ Audi          90       Compact      25.9     29.1      32.3       20
   4 │ Audi          100      Midsize      30.8     37.7      44.6       19
                                                              20 columns omitted

There is also a ```DelimitedFiles``` package, but I've never used it.

---

---

---

---

---

## Basic operations 

The usage of some functionality is *exactly* the same as R;

In [16]:
nrow(cars)

93

In [17]:
ncol(cars)

27

In [18]:
names(cars) # can also call propertynames() to return an array of Symbols

27-element Array{String,1}:
 "Manufacturer"
 "Model"
 "Type"
 "MinPrice"
 "Price"
 "MaxPrice"
 "MPGCity"
 "MPGHighway"
 "AirBags"
 "DriveTrain"
 "Cylinders"
 "EngineSize"
 "Horsepower"
 ⋮
 "ManTransAvail"
 "FuelTankCapacity"
 "Passengers"
 "Length"
 "Wheelbase"
 "Width"
 "TurnCircle"
 "RearSeatRoom"
 "LuggageRoom"
 "Weight"
 "Origin"
 "Make"

---

---

---

---

---

## Indexing ```DataFrames```

There are many options (too many?).

Either

In [19]:
cars.Type # most similar to income$Sex in R
cars."Type"

93-element PooledArrays.PooledArray{String,UInt32,1,Array{UInt32,1}}:
 "Small"
 "Midsize"
 "Compact"
 "Midsize"
 "Midsize"
 "Midsize"
 "Large"
 "Large"
 "Midsize"
 "Large"
 "Midsize"
 "Compact"
 "Compact"
 ⋮
 "Compact"
 "Small"
 "Small"
 "Sporty"
 "Midsize"
 "Van"
 "Small"
 "Van"
 "Compact"
 "Sporty"
 "Compact"
 "Midsize"

Or index with square brackets
```
cars[rows, columns]
```

To get all rows we use either
```
: # as in MATLAB
```
or
```
! 
```

The columns argument can be any of (all 3 return the same thing)
```
:Type      # the syntax for a Symbol type
"Type"     # string
3          # column number 
```
or as a vector (all 3 return the same thing)
```
[:Type]
["Type"]
[3]
```

#### TASK: What is the difference beetween

In [20]:
cars[:,[:Type]]
cars[!,[:Type]]
cars[:,[:Type]] === cars[!,[:Type]] # they are not the same. triple equals === checks whther the two are indistinguishable by any computer program

false

#### what is the difference between

In [21]:
cars[:,:Type]
cars[:,[:Type]];

#### what does this one do

In [22]:
cars.Type; # or cars."Type" same-same

---

The following are all ways to index a `DataFrame`.

In [23]:
## Return a VIEW as a Vector
cars.Type      ## most similar to cars$Type in R
cars."Type"
cars[!,:Type] 
cars[!,"Type"]
cars[!,3]

## Return a COPY as a Vector 
cars[:,:Type] 
cars[:,"Type"]
cars[:,3]

## return a COPY as a DataFrame
cars[:,[:Type]]
cars[:,["Type"]]
cars[:,[3]]

## return a VIEW as a DataFrame
cars[!,[:Type]] # this is my personal preference
cars[!,["Type"]]
cars[!,[3]];

can also index columns via arrays and logicals but better to use `filter` see below

We can also pass arrays of indicies

In [24]:
cars[!,[:Type, :Model]] |> head

4×2 DataFrame
 Row │ Type     Model
     │ String   String
─────┼──────────────────
   1 │ Small    Integra
   2 │ Midsize  Legend
   3 │ Compact  90
   4 │ Midsize  100

or invert selection with

In [25]:
cars[!,Not([:Type,:Model])] |> head

4×25 DataFrame
 Row │ Manufacturer  MinPrice  Price    MaxPrice  MPGCity  MPGHighway  AirBags ⋯
     │ String        Float64   Float64  Float64   Int64    Int64       String  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Acura             12.9     15.9      18.8       25          31  None    ⋯
   2 │ Acura             29.2     33.9      38.7       18          25  Driver
   3 │ Audi              25.9     29.1      32.3       20          26  Driver
   4 │ Audi              30.8     37.7      44.6       19          26  Driver
                                                              19 columns omitted

---

#### What is the difference between a *copy* and a *view*

In [26]:
aCopy = cars[:,[:Type]]     # select Type column as a COPY
aCopy[1,:Type] = "hello"    # change the first element
aCopy |> head               # print the copy

4×1 DataFrame
 Row │ Type
     │ String
─────┼─────────
   1 │ hello
   2 │ Midsize
   3 │ Compact
   4 │ Midsize

In [27]:
cars |> head       # print original and compare

4×27 DataFrame
 Row │ Manufacturer  Model    Type     MinPrice  Price    MaxPrice  MPGCity  M ⋯
     │ String        String   String   Float64   Float64  Float64   Int64    I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Acura         Integra  Small        12.9     15.9      18.8       25    ⋯
   2 │ Acura         Legend   Midsize      29.2     33.9      38.7       18
   3 │ Audi          90       Compact      25.9     29.1      32.3       20
   4 │ Audi          100      Midsize      30.8     37.7      44.6       19
                                                              20 columns omitted

In [28]:
aView = cars[!,[:Type]]     # select the Type column as a VIEW
aView[1,:Type] = "hello"    # change the first element
aView |> head               # print the view

4×1 DataFrame
 Row │ Type
     │ String
─────┼─────────
   1 │ hello
   2 │ Midsize
   3 │ Compact
   4 │ Midsize

In [29]:
cars |> head      # now it has changed

4×27 DataFrame
 Row │ Manufacturer  Model    Type     MinPrice  Price    MaxPrice  MPGCity  M ⋯
     │ String        String   String   Float64   Float64  Float64   Int64    I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Acura         Integra  hello        12.9     15.9      18.8       25    ⋯
   2 │ Acura         Legend   Midsize      29.2     33.9      38.7       18
   3 │ Audi          90       Compact      25.9     29.1      32.3       20
   4 │ Audi          100      Midsize      30.8     37.7      44.6       19
                                                              20 columns omitted

***```cars``` has how changed!!!!***

Be careful.

---

---

---

---

---

---

## A likeness with ```dplyr```

The ```DataFrames``` package has the same data manipulation functionality as ```dplyr```



``` R ``` functions and their ```julia``` equivalents;

 - In R ```rename()```$\equiv$ in julia ```rename()``` - rename columns.
 
 - In R ```filter()```$\equiv$ in julia ```filter()``` - picks cases based on their values.
 
 - In R ```select()```$\equiv$ in julia ```select()``` - picks variables based on their names.
 
 - In R ```mutate()```$\equiv$ in julia ```transform()``` - adds new variables that are functions of existing variables.

 - In R ```summarise()```$\equiv$ in julia ```combine()``` - reduces multiple values down to a single summary

 - In R ```arrange()```$\equiv$ in julia ```sort()``` - changes the ordering of the rows.
 
 - In R ```group_by()```$\equiv$in julia ```groupby()``` - returns a ```GroupedDataFrame``` object.
 

```rename!(), filter!(), select!(), transform!(), sort!()``` also exist to manipulate DataFrames in-place
 
Here, common syntax is either 
```
:ColumName => :NewName
:ColumName => function => :NewName
:ColumName => function
```

Ex's.

In [30]:
cars = CSV.File("cars.csv") |> DataFrame; # read in the data again 'cause I changed it

In [31]:
filter!(:Origin => (x -> isequal(x,"non-USA")), cars) |> head 
# for some reason this one is backwards to the others!
# also has an optional argument view::Bool to specify whether to return a view or a copy
# also, note the ! to change cars in place 
# see also filter(:Origin => (x -> isequal(x,"non-USA")), cars) |> head

4×27 DataFrame
 Row │ Manufacturer  Model    Type     MinPrice  Price    MaxPrice  MPGCity  M ⋯
     │ String        String   String   Float64   Float64  Float64   Int64    I ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Acura         Integra  Small        12.9     15.9      18.8       25    ⋯
   2 │ Acura         Legend   Midsize      29.2     33.9      38.7       18
   3 │ Audi          90       Compact      25.9     29.1      32.3       20
   4 │ Audi          100      Midsize      30.8     37.7      44.6       19
                                                              20 columns omitted

In [32]:
select!(cars, [:Manufacturer, :Model, :Price, :MPGCity, :MPGHighway, :DriveTrain, :Cylinders, :EngineSize]) |> names

8-element Array{String,1}:
 "Manufacturer"
 "Model"
 "Price"
 "MPGCity"
 "MPGHighway"
 "DriveTrain"
 "Cylinders"
 "EngineSize"

In [33]:
mpg2lper100(MPG) = 235.215./MPG
transform!(cars,:MPGCity => mpg2lper100 => :City, :MPGHighway => mpg2lper100 => :Highway) |> 
    x -> select!(x,Not([:MPGCity,:MPGHighway])) |> 
    head

4×8 DataFrame
 Row │ Manufacturer  Model    Price    DriveTrain  Cylinders  EngineSize  City ⋯
     │ String        String   Float64  String      String     Float64     Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Acura         Integra     15.9  Front       4                 1.8   9.4 ⋯
   2 │ Acura         Legend      33.9  Front       6                 3.2  13.0
   3 │ Audi          90          29.1  Front       6                 2.8  11.7
   4 │ Audi          100         37.7  Front       6                 2.8  12.3
                                                               2 columns omitted

In [34]:
carsByCylinders = groupby(cars, :Cylinders)

GroupedDataFrame with 6 groups based on key: Cylinders
First Group (27 rows): Cylinders = "4"
 Row │ Manufacturer   Model    Price    DriveTrain  Cylinders  EngineSize  Cit ⋯
     │ String         String   Float64  String      String     Float64     Flo ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Acura          Integra     15.9  Front       4                 1.8   9. ⋯
   2 │ BMW            535i        30.0  Rear        4                 3.5  10.
   3 │ Geo            Storm       12.5  Front       4                 1.6   7.
   4 │ Honda          Prelude     19.8  Front       4                 2.3   9.
   5 │ Honda          Civic       12.1  Front       4                 1.5   5. ⋯
   6 │ Honda          Accord      17.5  Front       4                 2.2   9.
   7 │ Hyundai        Excel        8.0  Front       4                 1.5   8.
   8 │ Hyundai        Elantra     10.0  Front       4                 1.8  10.
   9 │ Hyundai        Scoupe      10.0  Front       4                 1.5   9. ⋯
  10 │ Hyundai        Sonata      13.9  Front       4                 2.0  11.
  11 │ Mazda          323          8.3  Front       4                 1.6   8.
  ⋮  │       ⋮           ⋮        ⋮         ⋮           ⋮          ⋮           ⋱
  17 │ Nissan         Altima      15.7  Front       4                 2.4   9.
  18 │ Saab           900         28.7  Front       4                 2.1  11. ⋯
  19 │ Subaru         Loyale      10.9  4WD         4                 1.8   9.
  20 │ Subaru         Legacy      19.5  4WD         4                 2.2  10.
  21 │ Toyota         Tercel       9.8  Front       4                 1.5   7.
  22 │ Toyota         Celica      18.4  Front       4                 2.2   9. ⋯
  23 │ Toyota         Camry       18.2  Front       4                 2.2  10.
  24 │ Toyota         Previa      22.7  4WD         4                 2.4  13.
  25 │ Volkswagen     Fox          9.1  Front       4                 1.8   9.
  26 │ Volkswagen     Passat      20.0  Front       4                 2.0  11. ⋯
  27 │ Volvo          240         22.7  Rear        4                 2.3  11.
                                                    2 columns and 5 rows omitted
⋮
Last Group (2 rows): Cylinders = "5"
 Row │ Manufacturer  Model    Price    DriveTrain  Cylinders  EngineSize  City ⋯
     │ String        String   Float64  String      String     Float64     Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Volkswagen    Eurovan     19.7  Front       5                 2.5  13.8 ⋯
   2 │ Volvo         850         26.7  Front       5                 2.4  11.7
                                                               2 columns omitted

In [35]:
keys(carsByCylinders)

6-element DataFrames.GroupKeys{GroupedDataFrame{DataFrame}}:
 GroupKey: (Cylinders = "4",)
 GroupKey: (Cylinders = "6",)
 GroupKey: (Cylinders = "3",)
 GroupKey: (Cylinders = "8",)
 GroupKey: (Cylinders = "rotary",)
 GroupKey: (Cylinders = "5",)

In [36]:
carsByCylinders[(Cylinders="5",)] |> head

2×8 DataFrame
 Row │ Manufacturer  Model    Price    DriveTrain  Cylinders  EngineSize  City ⋯
     │ String        String   Float64  String      String     Float64     Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Volkswagen    Eurovan     19.7  Front       5                 2.5  13.8 ⋯
   2 │ Volvo         850         26.7  Front       5                 2.4  11.7
                                                               2 columns omitted

In [37]:
carsByCylinders[6] |> head

2×8 DataFrame
 Row │ Manufacturer  Model    Price    DriveTrain  Cylinders  EngineSize  City ⋯
     │ String        String   Float64  String      String     Float64     Floa ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Volkswagen    Eurovan     19.7  Front       5                 2.5  13.8 ⋯
   2 │ Volvo         850         26.7  Front       5                 2.4  11.7
                                                               2 columns omitted

In [38]:
carsByCylDrive = groupby(cars, [:Cylinders, :DriveTrain])
keys(carsByCylDrive)

11-element DataFrames.GroupKeys{GroupedDataFrame{DataFrame}}:
 GroupKey: (Cylinders = "4", DriveTrain = "Front")
 GroupKey: (Cylinders = "6", DriveTrain = "Front")
 GroupKey: (Cylinders = "4", DriveTrain = "Rear")
 GroupKey: (Cylinders = "3", DriveTrain = "Front")
 GroupKey: (Cylinders = "8", DriveTrain = "Rear")
 GroupKey: (Cylinders = "6", DriveTrain = "Rear")
 GroupKey: (Cylinders = "6", DriveTrain = "4WD")
 GroupKey: (Cylinders = "rotary", DriveTrain = "Rear")
 GroupKey: (Cylinders = "3", DriveTrain = "4WD")
 GroupKey: (Cylinders = "4", DriveTrain = "4WD")
 GroupKey: (Cylinders = "5", DriveTrain = "Front")

In [39]:
carsByCylDrive[(Cylinders = "4",DriveTrain = "4WD")] |> head

3×8 DataFrame
 Row │ Manufacturer  Model   Price    DriveTrain  Cylinders  EngineSize  City  ⋯
     │ String        String  Float64  String      String     Float64     Float ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Subaru        Loyale     10.9  4WD         4                 1.8   9.40 ⋯
   2 │ Subaru        Legacy     19.5  4WD         4                 2.2  10.22
   3 │ Toyota        Previa     22.7  4WD         4                 2.4  13.06
                                                               2 columns omitted

In [40]:
describe(cars)

8×7 DataFrame
 Row │ variable      mean     min      median   max      nmissing  eltype
     │ Symbol        Union…   Any      Union…   Any      Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ Manufacturer           Acura             Volvo           0  String
   2 │ Model                  100               Tercel          0  String
   3 │ Price         20.5089  8.0      19.1     61.9            0  Float64
   4 │ DriveTrain             4WD               Rear            0  String
   5 │ Cylinders              3                 rotary          0  String
   6 │ EngineSize    2.24222  1.0      2.2      4.5             0  Float64
   7 │ City          10.4738  5.11337  10.6916  13.8362         0  Float64
   8 │ Highway       8.11545  4.7043   7.8405   11.2007         0  Float64

In [41]:
mean(x) = sum(x)/length(x)
combine(carsByCylinders, :City => mean) |> x -> sort(x,:Cylinders)

6×2 DataFrame
 Row │ Cylinders  City_mean
     │ String     Float64
─────┼──────────────────────
   1 │ 3            6.09075
   2 │ 4            9.62288
   3 │ 5           12.7985
   4 │ 6           12.7238
   5 │ 8           13.8362
   6 │ rotary      13.8362

## TASK 
1) For the cars dataset;
 - select all cars which seat 5 or less passenegers 
 - transform the MPG data to L/100km
 - return the following as a single dataframe 
     - the mean city and highway efficiency for USA and non-USA cars
     - the number of USA and non-USA cars in the dataset
     
Hints: 
 - use the `names` function to get the column names 
 - use `transform` (julias version of `mutate()` to apply a function to a column and create a new column 
 - use `groupby` to put the dataframe into USA and non-USA groups 
 - use `combine` to summarise a grouped data frame

---

---

---

---

---

End